{% extends 'base.html' %}

{% block title %}Experience{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div
        class="d-flex flex-row align-items-center align-self-center"
        style="padding-top: 60px">

            <div class="p-2">
                <h1 id="first-header">Experience</h1>
            </div>
            
        </div>

        <div
        class="d-flex flex-column align-items-right align-self-center"
        style="padding-top: 25px;">

            <div class="p-2 mb-5">

                <h2 id="second-header">Software Engineer Intern</h2>

                <h4 id="third-header">
                    <a 
                        id="text-link"
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                        href="https://www.realfrequency.com/">
                        Real Frequency
                    </a>

                    <a href="https://www.python.org/" id="img-link">
                        <img src="https://abrudz.github.io/logos/Python.svg" class="p-1" alt="Python" id="dot-img"
                        data-toggle="tooltip" data-placement="top" title="Python" data-class="tt-dark">
                    </a>
                    <a href="https://flask.palletsprojects.com/en/3.0.x/" id="img-link">
                        <img src="https://cdn.buttercms.com/w8lc0UqsQCnPG0Ax6aiM" class="p-1" alt="Flask" id="dot-img"
                        data-toggle="tooltip" data-placement="top" title="Flask">
                    </a>
                    <a href="https://www.javascript.com/" id="img-link">
                        <img src="https://abrudz.github.io/logos/JS.svg" class="rounded p-1" alt="JavaScript" id="dot-img"
                        data-toggle="tooltip" data-placement="top" title="JavaScript">
                    </a>
                </h4>
                <p id="fourth-header">
                    <i class="bi bi-geo-alt-fill"></i> Spokane, WA (Remote)
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="bi bi-calendar3" id="experience-date-rf" id="text"></i>
                     May 2023 - Present &middot;&nbsp; <span id="rf-date-container"></span>
                </p>
            
                <ul>
                    <li id="text">Developed <a href="https://flask.palletsprojects.com/en/3.0.x/" id="text-link">
                        Flask</a>-based web app utilizing <a href="https://www.docker.com/" id="text-link">Docker</a>, 
                        <a href="https://www.heroku.com/" id="text-link">Heroku</a>, and 
                        <a href="https://www.sqlalchemy.org/" id="text-link">SQL</a>, organizing user data for 11+ 
                        businesses and improving data accessibility.</li>
                    <li id="text">Implemented CI/CD pipelines with <a 
                        href="https://github.com/features/actions" id="text-link">GitHub Actions</a>, ensured zero-cost 
                        automated delivery of features and fixes.</li>
                    <li id="text">Transformed decision-making with dynamic and interactive 
                        data visualizations using <a href="https://pandas.pydata.org/" id="text-link">Pandas</a> and 
                        <a href="https://plotly.com/" id="text-link">Plotly</a>.</li>
                    <li id="text">Catalyzed rapid prototyping with <a href="https://trello.com/" 
                        id="text-link">Trello</a>, enhancing project delivery and 
                        shrinking project timelines by 3+ weeks.</li>
                </ul>

            </div>

            <div class="p-2 mb-5">
                <h2 id="second-header">Research Student Assistant</h2>
                
                <h4 id="third-header">
                    <a 
                        id="text-link"
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                        href="https://sdsu-research-ci.github.io/">
                        SDSU Research & Cyberinfrastructure
                    </a>
                    <a href="https://www.python.org/" id="img-link">
                        <img src="https://abrudz.github.io/logos/Python.svg" class="p-1" alt="Python" id="dot-img"
                        data-toggle="tooltip" data-placement="top" title="Python">
                    </a>
                    <a href="https://www.docker.com/" id="img-link">
                        <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/97_Docker_logo_logos-512.png"
                        class="p-1" alt="Docker" id="dot-img" data-toggle="tooltip" data-placement="top" title="Docker">
                    </a>
                    <a href="https://kubernetes.io/" id="img-link">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Kubernetes_logo_without_workmark.svg/1055px-Kubernetes_logo_without_workmark.svg.png"                           
                        class="p-1" alt="Kubernetes" id="dot-img" data-toggle="tooltip" data-placement="top" title="Kubernetes">
                    </a>
                </h4>
            
                <p id="fourth-header">
                    <i class="bi bi-geo-alt-fill"></i> San Diego, CA
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="bi bi-calendar3" id="experience-date-rci"></i>
                     December 2022 - Present &middot;&nbsp; <span id="rci-date-container"></span>
                </p>
            
                <ul>
                    <li id="text">Built instruction-facing <a href="https://www.docker.com/" 
                        id="text-link">Docker</a> containers on <a href="https://nationalresearchplatform.org/" id="text-link">National 
                            Research Platform's (NRP)</a> hypercluster: <a href="https://nationalresearchplatform.org/nautilus/" 
                            id="text-link">Nautilus</a>.</li>
                    <li id="text">Produced weekly GPU utilization reports with 
                        <a href="https://grafana.com/" id="text-link">Grafana</a> 
                        and <a href="https://prometheus.io/" id="text-link">PromQL</a>, positioned department for future grants.</li>
                    <li id="text">Harnessed DevOps practices with <a href="https://git-scm.com/" id="text-link">
                        Git</a> and CI/CD pipelines, delivered features and bug fixes weekly.</li>
                    <li id="text">Recorded <a href="https://jupyter.org/hub" id="text-link">
                        JupyterHub</a>/<a href="https://www.linux.org/" id="text-link">Linux</a> tutorials for 300+ students and researchers, 
                        reduced <a href="https://www.servicenow.com/" id="text-link">ServiceNow</a> tickets by 50%.</li>
                </ul>

            </div>


            
        </div>

        <div class="p-2">

        </div>

    </div>
{% endblock %}